.app{
    background:  #f4ebdb;
    font-family: Plus Jakarta Sans, serif;
    font-size: 12px !important;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
}
span{
    font-size: 12px !important;
}
p,h1,h2,h3,h4,h5,h6,div {
    margin: 0;
    padding: 0;
}
